{% extends 'bed_monitoring_app/base.html' %}
{% load static %}
{% block body_block %}
  <div class="jumbotron">
    <h1 style="text-align:center">Patient bed monitoring</h1>
    <p style="text-align:center">We are team of two people doing this to make covid beds monitoring easier.</p>
      <li style="text-align:center">Rushikesh Surwase</li>
      <li style="text-align:center">Anup Bhumkar</li>
      <form class="" action="{% url 'bed_monitoring_app:user_dashboard' %}" method="post">
        {% csrf_token %}
        <input class="btn btn-warning" type="submit" name="Back" value="Back">
      </form>

  </div>
{% endblock %}
