{% extends 'bed_monitoring_app/base.html' %}
{% load static %}
{% block body_block %}
<div class="jumbotron">
  {% if registered %}
    <h1>Thank for for registering</h1>
  {% else %}
    <h1 style='text-align:center'>Register Here</h1><br>
    <p></p>
    <h2 align='center'>Fill out the form :</h2><br>
    <p></p>

    <form enctype="multipart/form-data" method="post">
      <div class="form-group" align='center'>
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input class='btn btn-primary' type="submit" name="" value="Register">
      </div>

    </form>

  {% endif %}

</div>



{% endblock %}
