{% extends 'bed_monitoring_app/base.html' %}
{% load static %}
{% block body_block %}
<div class="cotainer">
  <div class="jumbotron">
    <div class="container">
      <div class="container">
        <h1 align='center'>
          <span class="border border-success">
            Bed Details in the Hospital
          </span>
        </h1>
      </div>


    </div>
  <div class="contaier">
      <div class="jumbotron">
        <form class="" action="{% url 'bed_monitoring_app:update_govt_beds' %}" method="post">
              <div class="form-group">
                {% csrf_token %}
                <label for="govt_Beds">Update number of Govt Beds:</label>
                <input class='form-control' type="number" name="govt_beds" placeholder="Enter total number of govt beds"><br>
                <p></p>
                <input class='btn btn-primary' type="submit" name="submit" value="Submit">
             </div>
        </form>
        <form class="" action="{% url 'bed_monitoring_app:user_dashboard' %}" method="post">
          {% csrf_token %}
          <input class="btn btn-warning" type="submit" name="Back" value="Back">
        </form>
        

      </div>
  </div>



  </div>
</div>

{% endblock %}
